<main class="main-register">
  <form action="" class="[view-transition-name:form]">  
    <h1  class="[view-transition-name:title]">Registrarse</h1>
    <section>
      <input type="text" name="nit" id="nit" required />
      <label for="nit">NIT</label>
    </section>
    <section class="[view-transition-name:user]">
      <input type="text" name="username" id="username" required />
      <label for="username">Usuario</label>
    </section>
    <section>
      <input type="text" name="name" id="name" required />
      <label for="name">Nombre</label>
    </section>
    <section>
      <input type="date" name="date" placeholder="" id="date" required />
      <label for="date">Fecha nacimiento</label>
    </section>
    <section class="[view-transition-name:password]" >
      <input [type]="passwordType" name="password" id="password" required />
      <label for="password">Contraseña</label>
      <button
        type="button"
        (click)="
          passwordType = passwordType === 'password' ? 'text' : 'password'
        "
        class="absolute right-3 -translate-y-1/2 top-1/2 p-1"
      >
        Ojo
      </button>
    </section>
    <section>
      <input [type]="passwordType2" name="password2" id="password2" required />
      <label for="password2">Repetir contraseña</label>
      <button
        type="button"
        (click)="
          passwordType2 = passwordType2 === 'password' ? 'text' : 'password'
        "
        class="absolute right-3 -translate-y-1/2 top-1/2 p-1"
      >
        Ojo
      </button>
    </section>
    <a routerLink="/login" class="text-blue-500 underline mb-5 [view-transition-name:link]"
      >¿Ya tienes una cuenta? Inicia sesión</a
    >
    <button class="[view-transition-name:button]">Ingresar</button>
  </form>
</main>
