<main class="min-h-dvh h-full grid place-items-center py-10">
  <aside
    class="w-[clamp(300px,60vw,600px)] h-fit flex flex-col items-center border border-solid border-gray-600 rounded-xl py-12"
  >
    
    <h1 class="text-4xl font-serif">Registrar</h1>
    <form
      class="px-5 py-5 flex flex-col gap-1"
      (submit)="onSubmit($event)"
      [formGroup]="registerForm"
    >
      <section class="input-component">
        <input
          type="text"
          id="name"
          name="name"
          required
          formControlName="name"
        />
        <label for="name">Nombre</label>
      </section>
      <section class="input-component">
        <input
          type="text"
          name="username"
          id="username"
          required
          formControlName="username"
        />
        <label for="username">Usuario</label>
      </section>
      <section class="input-component">
        <input
          type="email"
          name="email"
          id="email"
          required
          formControlName="email"
        />
        <label for="email">Email</label>
      </section>
      <section class="input-component">
        <input
          type="date"
          name="date"
          id="date"
          required
          formControlName="date"
        />
        <label for="date">Fecha nacimiento</label>
      </section>
      <section class="input-component">
        <input
          type="password"
          name="password"
          id="password"
          required
          formControlName="password"
        />
        <label for="password">Contraseña</label>
      </section>
      <section class="input-component">
        <input
          type="password"
          name="password2"
          id="password2"
          required
          formControlName="password2"
        />
        <label for="password2">Confirmar</label>
      </section>
      <button class="button-component">Enviar</button>
    </form>

    <a routerLink="/login" class="text-blue-500 underline"
      >¿Ya tienes una cuenta? Inicia sesión</a
    >
  </aside>
</main>
