@if(editProfile){
<app-modal (closeModal)="editProfile = false">
  <app-edit-profile />
</app-modal>
} @if(uploadPost){
<app-modal (closeModal)="uploadPost = false">
  <app-new-post (close)="close()" (addNewPost)="(addNewPost)" />
</app-modal>
}

<main
  class="py-10 flex flex-col items-center gap-10 min-h-dvh h-full border max-w-[800px] overflow-hidden mx-auto bg-[rgba(255,242,104,0.8)]"
>
  <header class="w-full">
    <button
      class="bg-yellow-600 px-5 py-2 ml-7 text-white"
      [routerLink]="['/']"
    >
      Volver
    </button>
  </header>
  <section class="flex flex-row gap-20 justify-center">
    <div class="rounded-full w-1/5 aspect-square min-w-48 relative">
      <img
        src="/assets/incognito.png"
        alt="user-image"
        class="w-full h-full rounded-full [view-transition-name:user-img]"
      />
      <button
        (click)="uploadPost = true"
        class="bg-white w-14 aspect-square rounded-full text-xl font-bold absolute top-[10%] -right-[15%] -translate-x-1/2 z-10"
      >
        +
      </button>
    </div>

    <div class="flex flex-col gap-5 justify-center">
      <div class="flex items-end gap-8">
        <h1 class="text-4xl [view-transition-name:user-username]">
          {{ this.userService.user.username }}
          <span class="block text-sm text-white mt-2">
            {{ this.userService.user.name }}
          </span>
        </h1>
        <button
          class="text-sm bg-gray-300 text-white rounded-md p-1"
          (click)="editProfile = true"
        >
          Editar perfil
        </button>
      </div>
      <div class="flex flex-row gap-10 text-center">
        <div>
          <p>Publicaciones</p>
          <span>{{ this.postsCount }}</span>
        </div>
        <div>
          <p>Amigos</p>
          <span>{{ this.followers }}</span>
        </div>
        <div>
          <p>Siguiendo</p>
          <span>{{ this.following }}</span>
        </div>
      </div>
    </div>
  </section>
  <section
    class="w-3/4 min-h-[400px] bg-[rgba(215,219,94,0.75)] relative flex flex-wrap h-full"
  >
    @for(post of this.posts; track post.id_post;) {

    <img [src]="post.image_src" alt="" class="h-[12.45rem] aspect-square" />

    }@empty {
    <div
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center gap-5"
    >
      <p>No hay publicaciones</p>
      <button
        class="bg-white w-14 aspect-square rounded-full text-xl font-bold"
        (click)="uploadPost = true"
      >
        +
      </button>
    </div>

    }
  </section>
</main>
