<section
  class="profile-edit bg-white w-full rounded-xl grid place-content-center"
>
  <form (submit)="handleSubmitEdit($event)" class="[view-transition-name:form]">
    <h1 class="[view-transition-name:title]">Editar</h1>

    <section class="[view-transition-name:user]">
      <input
        type="text"
        name="username"
        id="username"
        [value]="profileToEdit.username"
        required
      />
      <label for="username">Usuario</label>
    </section>
    <section>
      <input
        type="email"
        name="email"
        id="email"
        [value]="profileToEdit.email"
        required
      />
      <label for="email">Email</label>
    </section>
    <section>
      <input
        type="text"
        name="name"
        id="name"
        [value]="profileToEdit.name"
        required
      />
      <label for="name">Nombre</label>
    </section>
    <section>
      <input
        type="date"
        name="birth_date"
        placeholder=""
        [value]="profileToEdit.birth_date.split('T')[0]"
        id="date"
      />
      <label for="date">Fecha nacimiento</label>
    </section>
    <section class="[view-transition-name:password]">
      <input [type]="passwordType" name="password" id="password" />
      <label for="password">Contraseña</label>
      <button
        type="button"
        (click)="
          passwordType = passwordType === 'password' ? 'text' : 'password'
        "
        class="absolute right-3 -translate-y-1/2 top-1/2 p-1"
      >
        @if(passwordType === 'password'){
        <app-eye-open />
        }@else {
        <app-eye-close />
        }
      </button>
    </section>

    <a
      routerLink="/login"
      class="text-blue-500 underline mb-5 [view-transition-name:link]"
      >¿Ya tienes una cuenta? Inicia sesión</a
    >
    <button class="[view-transition-name:button]">Ingresar</button>
  </form>
</section>
