<section
  class="bg-white min-h-[600px] w-[500px] mb-10 border border-gray-300 rounded-md pt-3 pb-2"
>
  <article class="flex items-center pl-2 gap-3 pb-2">
    <div
      class="w-10 aspect-square bg-black p-[2px] rounded-[50%] bg-gradient-to-r from-yellow-200 via-orange-200 to-yellow-500 text-center [&:hover>img]:scale-[0.98] cursor-pointer"
    >
      <img
        src="/assets/user.jpg"
        class="rounded-[inherit] transition-all duration-200 ease-in-out"
      />
    </div>
    <h2 class="text-md cursor-pointer" routerLink="/profile/{{ post.id_user }}">
      {{ post.user.username }}
    </h2>
  </article>
  <img [src]="post.imageSrc" class="w-full aspect-[7/8]" />

  <div class="flex">
    <app-like [hasLiked]="post.hasLiked" (onClick)="toggleLike()" />
    <app-comment (onClick)="setComment(post.id_post)" />
  </div>
  <article class="px-4">
    <span>{{ post.likes || 0 }} likes</span>
    <p>
      <span class="font-bold">
        {{ post.user.username }}
      </span>
      {{ post.description }}
    </p>
  </article>
</section>
