.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-content: center;

  & > article {
    animation: show 300ms ease-in-out forwards;
  }
}

.hide-modal {
  animation: hide 300ms ease-in-out forwards !important;
}

@keyframes hide {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.6);
  }
}

@keyframes show {
  from {
    transform: scale(0.6);
  }
  to {
    transform: scale(1);
  }
}
