

<main class="min-h-dvh h-full grid place-items-center py-10">

  <aside class="w-[clamp(300px,60vw,900px)] h-full flex flex-col items-center border border-solid border-gray-600 rounded-xl">

    <h1 class="text-4xl font-bold mt-5">Registrar</h1>
    <form class="px-5 py-5 flex flex-col gap-1">
      <section class="input-component">
        <input type="text" id="name" name="name" required>
        <label for="name">Nombre</label>
      </section>
      <section class="input-component">
        <input type="text" name="surname" id="surname" required>
        <label for="surname">Apellido</label>
      </section>
      <section class="input-component">
        <input type="text" name="email" id="email" required>
        <label for="email">Email</label>
      </section>
      <section class="input-component">
        <input type="password" name="password" id="password" required>
        <label for="password">Contraseña</label>
      </section>
      <section class="input-component">
        <input type="password" name="password2" id="password2" required>
        <label for="password2">Confirmar</label>
      </section>
      <button class="button-component">Enviar</button>
    </form>
    

    
  </aside>



</main>
