@if(showPost){
<app-modal (closeModal)="showPost = null">
  <app-modal-post [post]="showPost" />
</app-modal>

}

<main
  class="py-10 flex flex-col items-center gap-10 min-h-dvh h-full max-w-[800px] overflow-hidden mx-auto bg-secondary-color"
>
  <header class="w-full">
    <button
      class="bg-blue-600 hover:bg-blue-900 px-8 py-2 ml-7 text-white rounded-e-xl button-shadow"
      [routerLink]="['/']"
    >
      Volver
    </button>
  </header>
  <section class="flex flex-row justify-center gap-20">
    <div class="rounded-full w-1/5 aspect-square min-w-48 relative">
      <img
        src="/assets/incognito.png"
        alt="user-image"
        class="w-full h-full rounded-full [view-transition-name:img-{{
          this.username
        }}]"
      />
    </div>

    <div class="flex flex-col gap-5 justify-center items-center">
      <div class="flex items-end gap-8">
        <h1
          class="text-2xl break-words max-w-44 [view-transition-name:username-{{
            this.username
          }}] "
        >        
          {{ this.username }}
        </h1>
        @if(!this.state){

        <button
          (click)="follow()"
          class="text-sm bg-blue-600 text-white rounded-md p-1 px-4 py-2 w-40 font-bold"
        >
          Seguir
        </button>
        }@else if (this.state === 'PENDING'){

        <button
          class="text-sm bg-gray-300 text-center text-zinc-900 rounded-md p-1 px-4 py-2 w-40 font-bold"
          (click)="unfollow()"
        >
          Pendiente
        </button>

        }@else {
        <button class="text-sm bg-green-400 text-white rounded-md p-1  px-4 py-2 w-40 font-bold" (click)="unfollow()">
          Siguiendo
        </button>
        }
      </div>
      <div class="flex flex-row gap-10 text-center font-bold">
        <div>
          <p>Publicaciones</p>
          <span class="font-thin">{{ this.postsCount }}</span>
        </div>
        <div>
          <p>Amigos</p>
          <span class="font-thin">{{ this.followers }}</span>
        </div>
        <div>
          <p>Siguiendo</p>
          <span class="font-thin">{{ this.following }}</span>
        </div>
      </div>
    </div>
  </section>
  <section
    class="w-3/4 min-h-[400px] bg-[rgba(181,181,163,0.75)] relative grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] h-full"
  >
    @for(post of this.posts; track post.id_post;) {

    <img
      [src]="post.image_url"
      alt=""
      class="w-full  object-cover aspect-square cursor-pointer"
      (click)="showPost = post"
    />

    }@empty {
    <div
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center gap-5"
    >
      <p>No hay publicaciones</p>
    </div>

    }
  </section>
</main>
