<main class="main-log-in">
  <form action="">
    <h1>Log in</h1>
    <section>
      <input type="text" name="username" id="username" required />
      <label for="username">Usuario</label>
    </section>
    <section>
      <input [type]="passwordType" name="password" id="password" required />
      <label for="password">Contraseña</label>
      <button
        type="button"
        (click)="passwordType = passwordType === 'password' ? 'text' : 'password'"
        class="absolute right-3 -translate-y-1/2 top-1/2 p-1"
      > Ojo</button>  
    </section>
    <a routerLink="/register" class="text-blue-500 underline mb-5"
      >No tienes una cuenta? Registrate</a
    >
    <button>Ingresar</button>
  </form>
</main>
