<main class="main-log-in">
  <form (submit)="handleSubmit($event)" class="[view-transition-name:form]">
    <h1 class="[view-transition-name:title]">Log in</h1>
    <section class="[view-transition-name:user]">
      <input type="text" name="username" id="username" required />
      <label for="username">Usuario</label>
    </section>
    <section class="[view-transition-name:password]">
      <input [type]="passwordType" name="password" id="password" required />
      <label for="password">Contraseña</label>
      <button
        type="button"
        (click)="
          passwordType = passwordType === 'password' ? 'text' : 'password'
        "
        class="absolute right-3 -translate-y-1/2 top-1/2 p-1"
      >
        Ojo
      </button>
    </section>
    <a
      routerLink="/register"
      class="text-blue-500 underline mb-5 [view-transition-name:link]"
      >No tienes una cuenta? Registrate</a
    >
    <button class="[view-transition-name:button]">Ingresar</button>
  </form>
</main>
