@if(editProfile){
<app-modal (closeModal)="editProfile = false">
  <app-edit-profile (closeModal)="this.editProfile = false" />
</app-modal>
} @if(uploadPost){
<app-modal (closeModal)="uploadPost = false">
  <app-new-post (close)="close()" (addNewPost)="addNewPost($event)" />
</app-modal>
} @if(showPost){
<app-modal (closeModal)="showPost = null">
  <app-modal-post [post]="showPost" />
</app-modal>

}

<main
  class="py-10 flex flex-col items-center gap-10 min-h-dvh h-full max-w-[900px] overflow-hidden mx-auto bg-secondary-color"
>
  <header class="w-full">
    <button
      class="bg-blue-600 hover:bg-blue-900 px-8 py-2 ml-7 text-white rounded-e-xl button-shadow"
      [routerLink]="['/']"
    >
      Volver
    </button>
  </header>
  <section class="flex flex-row gap-20 justify-center">
    <div class="rounded-full w-1/5 aspect-square min-w-48 relative">
      <img
        src="/assets/incognito.png"
        alt="user-image"
        class="w-full h-full rounded-full [view-transition-name:{{
          this.userService.user.id_user
        }}]"
      />
      <button
        (click)="uploadPost = true"
        class="bg-white w-14 aspect-square rounded-full text-xl border-2 hover:bg-slate-200 font-bold absolute top-[10%] -right-[15%] -translate-x-1/2 z-10"
      >
        +
      </button>
    </div>

    <div class="flex flex-col gap-5 justify-center">
      <div class="flex items-end gap-8">
        <h1
          class="text-4xl capitalize [view-transition-name:username-{{
            this.userService.user.id_user
          }}]"
        >
          {{ this.userService.user.username }}
          <span class="block text-sm text-white mt-2">
            {{ this.userService.user.name }}
          </span>
        </h1>
        <button
          class="text-sm bg-gray-300 text-black rounded-md p-1 px-4 py-2 w-40 font-bold hover:bg-gray-600"
          (click)="editProfile = true"
        >
          Editar perfil
        </button>
      </div>
      <div class="flex flex-row gap-10 text-center font-bold">
        <div>
          <p>Publicaciones</p>
          <span class="font-thin">{{ this.postsCount }}</span>
        </div>
        <div>
          <p>Amigos</p>
          <span class="font-thin">{{ this.followers }}</span>
        </div>
        <div>
          <p>Siguiendo</p>
          <span class="font-thin">{{ this.following }}</span>
        </div>
      </div>
    </div>
  </section>
  <section
    class="w-3/4 min-h-[400px] bg-[rgba(181,181,163,0.75)] relative flex flex-wrap h-full"
  >
    @for(post of this.posts; track post.id_post;) {

    <img
      [src]="post.image_src"
      alt=""
      class="h-[12.45rem] aspect-square"
      (click)="showPost = post"
    />

    }@empty {
    <div
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col items-center gap-5"
    >
      <p>No hay publicaciones</p>
      <button
        class="bg-white w-14 aspect-square rounded-full text-xl hover:bg-slate-200 font-bold"
        (click)="uploadPost = true"
      >
        +
      </button>
    </div>

    }
  </section>
</main>
