@if (searchUser) {
<app-modal (closeModal)="searchUser = false">
  <section
    class="w-[clamp(300px,60vw,1200px)] flex flex-col bg-white h-[clamp(500px,60vh,900px)] p-10 rounded-xl"
  >
    <form class="form relative" (submit)="$event.preventDefault()">
      <button class="absolute left-2 -translate-y-1/2 top-1/2 p-1">
        <svg
          width="17"
          height="16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-labelledby="search"
          class="w-full h-5 text-gray-700"
        >
          <path
            d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
            stroke="currentColor"
            stroke-width="1.333"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
      <input
        class="input rounded-full px-8 py-3 border-2 border-transparent focus:outline-none focus:border-blue-500 placeholder-gray-400 transition-all duration-300 shadow-md w-full"
        placeholder="Search..."
        required=""
        type="text"
        (input)="handleChange($event)"
      />
      <button
        type="reset"
        class="absolute right-3 -translate-y-1/2 top-1/2 p-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 text-gray-700"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </form>

    <div class="w-full h-full"></div>
  </section>
</app-modal>
} @if(notifications){
<app-modal (closeModal)="notifications = false">
  <section
    class="w-[clamp(300px,60vw,1200px)] bg-white h-[clamp(500px,60vh,900px)] p-10 rounded-xl grid place-content-center"
  >
    No hay notificaciones
  </section>
</app-modal>
}
<header class="flex flex-row justify-between items-center py-4 border bg-white">
  <span
    class="text-6xl font-bold bg-gradient-to-b from-yellow-300 to-yellow-100 bg-clip-text text-transparent"
    >Instapic</span
  >
  <div class="flex gap-7 justify-center items-center mr-4">
    <button (click)="notifications = true">Notificaciones</button>

    <svg
      (click)="searchUser = true"
      width="17"
      height="16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      role="img"
      aria-labelledby="search"
      class="w-5 h-5 text-gray-700 cursor-pointer"
    >
      <path
        d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9"
        stroke="currentColor"
        stroke-width="1.333"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>

    <div
      class="flex flex-col items-center justify-center mr-5"
      [routerLink]="['/profile']"
    >
      <img
        src="/assets/user.jpg"
        class="h-14 rounded-full hover:cursor-pointer [view-transition-name:user-img]"
        routerLink="/profile"
      />
      <p class="[view-transition-name:user-username]">
        {{ this.userService.username }}
      </p>
    </div>
    <button>Log out</button>
  </div>
</header>
