<section
  class="bg-white w-full max-w-[500px] aspect-[5/2] mb-10 border border-gray-300 rounded-md pt-3 pb-2 mx-auto block"
>
  <article class="flex items-center pl-2 gap-3 pb-2">
    <div
      class="w-10 aspect-square bg-black p-[2px] rounded-[50%] bg-gradient-to-r from-yellow-200 via-orange-200 to-yellow-500 text-center [&:hover>img]:scale-[0.98] cursor-pointer"
      routerLink="/profile/{{ post.id_user }}"
    >
      <img
        src="/assets/incognito.png"
        class="rounded-[inherit] transition-all duration-200 ease-in-out [view-transition-name:img-{{
          post.users.username
        }}]"
        routerLink="/profile/{{ post.id_user }}"
      />
    </div>
    <h2
      routerLink="/profile/{{ post.id_user }}"
      class="text-md cursor-pointer [view-transition-name:username-{{
        this.userService.user.username
      }}] "
    >
      {{ post.users.username }}
    </h2>
  </article>
  <img [src]="post.image_url" class="w-full aspect-[7/8]" />

  <div class="ml-2 flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-10 h-10 text-gray-500 cursor-pointer stroke-primary-color {{post.likedByUser ? 'fill-primary-color ' : 'fill-white'}}"
        (click)="toggleLike()"
      >
        <path
          fill="inherit"
          d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z"
        />
      </svg>
    <span class="mr-2 ml-1 ">
      {{ post.likes_count }}
    </span>
    <app-comment (onClick)="setComment(post.id_post)" />
  </div>
  <article class="px-4">
    <p>
      <span class="font-bold">
        {{ post.users.username }}
      </span>
      {{ post.description }}
    </p>
  </article>
</section>
