@import "ngx-toastr/toastr";
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1e90ff;
  --secondary-color: #5598dc;
  --third-color: #9fc0e2;
  --fourth-color: #204972;
  --fifth-color: #1d2d3e;
}
