<main class="min-h-dvh h-full border max-w-[800px] overflow-hidden mx-auto">
  <header class="flex flex-row justify-between items-center mb-4">
    <!-- <h1 class="text-5xl">Instagram</h1> -->
    <img src="/assets/instagram.png" alt="instagram logo" class="h-20" />
    <a
      href="/"
      class="flex flex-row text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
    >
      <svg
        class="h-5 w-5"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22 12.2039V13.725C22 17.6258 22 19.5763 20.8284 20.7881C19.6569 22 17.7712 22 14 22H10C6.22876 22 4.34315 22 3.17157 20.7881C2 19.5763 2 17.6258 2 13.725V12.2039C2 9.91549 2 8.77128 2.5192 7.82274C3.0384 6.87421 3.98695 6.28551 5.88403 5.10813L7.88403 3.86687C9.88939 2.62229 10.8921 2 12 2C13.1079 2 14.1106 2.62229 16.116 3.86687L18.116 5.10812C20.0131 6.28551 20.9616 6.87421 21.4808 7.82274"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"
        />
        <path
          d="M15 18H9"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"
        />
      </svg>
      Home
    </a>
    <a
      href="/profile"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
      >Profile</a
    >
  </header>
  <section class="w-full">
    <form
      class="flex flex-row w-full gap-5"
      (submit)="onSubmit($event)"
      [formGroup]="searchForm"
    >
      <div class="w-full">
        <label
          for="search_text"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Search</label
        >
        <input
          formControlName="search_text"
          name="search_text"
          type="text"
          id="search_text"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Search"
          required
        />
      </div>
      <button
        type="submit"
        class="flex flex-row items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
      >
        <svg
          fill="#000000"
          class="h-5 w-5"
          version="1.1"
          id="Capa_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 488.4 488.4"
          xml:space="preserve"
        >
          <g>
            <g>
              <path
                d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
       s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
       S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
       S381.9,104.65,381.9,203.25z"
              />
            </g>
          </g>
        </svg>
        Search
      </button>
    </form>
  </section>
  <section>
    <div class="relative overflow-x-auto">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-50"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Name</th>
            <th scope="col" class="px-6 py-3">Username</th>
          </tr>
        </thead>
        <tbody>
          @for (user of usersList; track $index){

          <tr class="bg-white border-b">
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              {{ user.name }}
            </th>
            <td class="px-6 py-4">
              {{ user.username }}
            </td>
            <td class="px-6 py-4">
              @for (follower of followingList; track $index) {
                @if (user.id_user === follower.user_id && follower.status === 'pending') {
                  <button>Pending</button>
                }@else if (user.id_user === follower.user_id && follower.status === 'follow') {
                  <button (click)="onFollow(user.id_user)">Follow</button>
                }@else if (user.id_user === follower.user_id && follower.status === 'accepted') {
                  <button>Accepted</button>
                }@else if (user.id_user === follower.user_id && follower.status === 'rejected') {
                  <button>Rejected</button>
                }
              }@empty {
                <button (click)="onFollow(user.id_user)">Follow</button>
              }
            </td>
          </tr>

          }
        </tbody>
      </table>
    </div>
  </section>
</main>
