@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');


.main-log-in {
  min-height: 100dvh;
  align-content: center;

  &>form {
    margin: 0 auto;
    width: fit-content;
    border: 3px solid white;
    border-radius: 15px;
    padding: 20px 50px;
    display: grid;
    place-content: center;
    box-shadow: 0px 0px 10px 2.5px rgba(255, 255, 255, 0.6);
    background: var(--secondary-color);

    &>h1 {
      font-size: 2rem;
      margin-bottom: 20px;
      font-family: 'Edu VIC WA NT Beginner', sans-serif;
      text-align: center;
      font-weight: bold;
      color: var(--fourth-color);
    }

    &>button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: var(--primary-color);
      border: 1px solid var(--third-color);
      color: white;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 200ms ease-in-out;

      &:hover {
        background-color: rgb(81, 111, 188);
      }
    }

    &>section {
      position: relative;
      margin: 10px 0;

      &>input {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        font-size: 0.9rem;
        transition: all 200ms ease-in-out;
        padding-left: 20px;
        outline: 1px solid var(--primary-color);
        padding-right: 45px;

        &:is(:focus, :valid)+label {
          top: -3px;
          background-color: var(--primary-color);
          color: white;
        }
      }



      &>label {
        position: absolute;
        left: 10px;
        top: 50%;
        color: rgba(140, 134, 134, 0.5);
        translate: 0 -50%;
        padding: 0 10px;
        font-size: 1.2rem;
        z-index: 1;
        transition: all 200ms ease-in-out;
      }
    }
  }
}