<section
  class="w-[clamp(300px,60vw,1200px)] bg-white h-[clamp(500px,60vh,900px)] p-10 rounded-xl grid place-content-center"
>
  @for(request of requests; track $index;){
  <div class="w-full flex items-center justify-between gap-5">
    <div
      routerLink="/profile/{{ request.user.id_user }}"
      class="flex items-center gap-3"
    >
      <img src="/assets/user.jpg" class="h-14 rounded-full" />
      <p>{{ request.user.username }}</p>
    </div>
    @if(request.state === 'rejected'){
    <span>Rejected</span>
    }@else if (request.state === 'accepted'){
    <span>Accepted</span>

    }@else{

    <button
      (click)="handleAccept(request.id_follow)"
      class="bg-green-400 rounded-md py-2 px-2 text-white"
    >
      Accept
    </button>
    <button
      class="bg-red-400 rounded-md py-2 px-2 text-white"
      (click)="handleReject(request.id_follow)"
    >
      Reject
    </button>
    }
  </div>
  }
</section>
